#work {
  background: #D9D9D9;
  position: relative;
}
#work h2 {
  position: absolute;
  writing-mode: vertical-rl;
  rotate: 180deg;
  top: 10%;
}
#work .work__list {
  border: 1px solid #000;
  display: flex;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
#work .work__list li {
  border: 1px solid #000;
  padding: 10px;
}